body{
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.7;
}
.total{
    display: block;
    height: 88vh;
    width: 32%;
    border: 13px solid #eceaec;
    margin: 4% 34% 1% 34%;
}
.first{
    height: 50%;
    background-image: url(https://i.pinimg.com/736x/a7/56/bc/a756bcba89a2572f67a4049731881439.jpg);
    border-radius: 5px;
    color: white;
    
    background-size: cover;
    font-size: larger;
}
select{
    margin-left: 50%;
    padding: 4px;
    border: none;
    background-color: rgb(245, 60, 60);
    border-radius: 3px;
    color: white;
}
.second1{
    display: flex;
    height: 25%;
    width: 100%;
    background-color: rgb(247, 242, 242);
}
.second2{
    padding-top: 20px;
    display: flex;
    height: 25%;
    width: 100%;
    background-color: rgb(247, 242, 242);
}
.weeklysale{
    padding: 7px;
    margin:-12% 7%;
    width: 45%;
    height: 20vh;
    border-radius: 13px;
    background-color: rgb(245, 220, 174);
    color: rgb(236, 128, 27);
}
.newusers{
    padding: 7px;
    margin:-12% 7%;
    width: 45%;
    height: 20vh;
    border-radius: 13px;
    background-color: rgb(196, 219, 226);
    color: rgb(11, 127, 156);
 
}
.itemorders{
    padding: 7px;
    margin:-12% 7%;
    width: 45%;
    height: 20vh;
    border-radius: 13px;
    background-color: lightpink;
    color: rgb(221, 14, 83);
}
.bugreports{
    padding: 7px;
    margin:-12% 7%;
    width: 45%;
    height: 20vh;
    border-radius: 13px;
    background-color: skyblue;
    color: rgb(32, 74, 153);
}
/*responsive*/
@media (min-width:320px) and (max-width:767px){
    .total{
        width: 70%;
        margin: 4% 15% 1% 15%;

    }
}